/*- - - - - - CSS RESET - - - - - - - - - - -*/
*{
  margin:0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*- - - - - - UNIVERSAL STYLES - - - - - - - - - - -*/
/* padding sections, utility cases, etc */
header,
footer,
.banner,
.small-banner {
  padding: 10%;
}

.padded {
  padding: 4%;
}

.quote {
  padding: 5% 2%;
}

.right {
  text-align: right;
}

/*- - - - - - - - - - TYPOGRAPHY - - - - - - - - - - - - - - -*/

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
}

h1 {
  color: white;
  font-size: 6.2vw;
  text-align: center;
  font-weight: 700;
}

span, .dark h3 {
  color: #ffbe00;
}

.banner h2 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
}

.padded h2 {
  color: rgb(60, 60, 65);
  font-size: 1.7rem;
}

.padded p, .dark p {
  padding-top: 3%;
  font-size: .9rem;
  text-align: left;
}

.small-banner {
  text-align: center;
}
.small-banner h3 {
  font-weight: 400;
  font-size: 2.8vw;
}

.small-banner h4 {
  font-size: 6vw;
}

.light {
  color: white;
}

.col-8 {
  font-size: 1.5rem;
}

/*- - - - - - BANNERS/BACKGROUND IMAGES - - - - - - - - - - -*/
.banner {
  background-image: url(header.jpg);
  background-size: cover;
}

[class*='bg']{
    background-size: cover;
    background-position: center;
    min-height: 26vw;
}

.bg-pug {
  background-image: url(bg-pug.jpg);
  background-position: 20% 35.5%;
}

.bg-mattress {
  background-image: url(bg-mattress.jpg);
}

.small-banner {
  background-image: url(small-banner.jpg);
  background-size: cover;
  background-position: 50% 52%;
}

footer {
  background-color: rgb(60, 60, 65);
}


/*- - - - - - - - - - QUOTE SECTION - - - - - - - - - - -*/
.quote-mark {
  font-family: 'IM Fell French Canon', serif;
  font-size: 4rem;
  color: grey;
}

.author {
  text-align: right;
  color: #a4a4a4;
  font-size: .9rem;
  padding-right: 10%;
}

/*- - - - - - - - - - FOOTER - - - - - - - - - - -*/
.dark h2, .dark p {
  color: white;
  text-align: left;
}

.dark h2, .dark h3 {
  font-size: 2rem;
  line-height: 1;
}

/*- - - - - - FORM - - - - - - - - - - -*/
footer {
  padding: 5%;
}
label {
  color: white;
  font-size: .9rem;
  text-align: left;
}

input, textarea {
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(60, 60, 65);
  width: 100%;
  font-size: .8rem;
  color: grey;
  font-family: 'Montserrat', sans-serif
}

input {
  min-height: 5vh;
  padding: 2%;
}

textarea {
  min-height: 25vh;
  padding: 2%;
}


.button {
  margin-top: 1.5%;
  background-color: #ffbe00;
  color:white;
  text-transform:uppercase;
  font-size: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
  font-family: 'Montserrat', sans-serif;
}

.button:hover {
  background-color: white;
  color: #ffbe00;
}

/*- - - - - - - - - - - - MEDIA QUERIES - - - - - - - - - - - */
@media(max-width:768px) {
  [class*=bg]{
    padding-bottom: 50%;
  }
  .mob-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .banner {
    padding: 5%;
  }
  .padded p, .dark p {
    font-size: .8rem;
  }

  form {
    margin:auto;
  }

  .button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
}
